.menu {
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-size: cover;
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 100px auto 100px;
  align-items: center;
}

.menu__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 780px;
}

.menu__subtitle {
  font-family: "Noto Seriff";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
  text-align: center;
  margin: 24px 0 100px;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}
