.menu {
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-size: cover;
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 100px auto 100px;
  align-items: center;
}

.menu__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 780px;
}

.menu__subtitle {
  font-family: "Noto Seriff";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
  text-align: center;
  margin: 24px 0 100px;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

.card {
  width: 540px;
}

.card:first-of-type {
  margin-right: 100px;
  margin-bottom: 100px;
}

.card__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding-bottom: 32px;
}

.card__list {
  padding-left: 0;
}

.card__list-item {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 16px;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.card__list-divider {
}
